<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.parrot.parameter.ParameterDao">


    <select id="getParameter" resultType="com.hsy.parrot.bean.paramter.CoParameter">
        SELECT id,r_key AS 'key',r_value AS 'value',comment,create_time AS createTime,update_time AS updateTime FROM co_paramter;
    </select>
</mapper>